Source: libnifty-migrant-perl
Standards-Version: 3.9.3
Maintainer: Package Monkey <packages@niftylogic.com>
Section: perl
Priority: optional
Homepage: http://packages.niftylogic.com/perl/Nifty-Migrant
Build-Depends: debhelper (>= 8),
               libdbd-sqlite3-perl,
               libdbi-perl,
               libnifty-config-perl,
               libpod-coverage-perl,
               libtest-pod-coverage-perl,
               libtest-simple-perl,
               libyaml-libyaml-perl,
               perl,
               perl-modules

Package: libnifty-migrant-perl
Description: Database Migration, all Rails-y
Architecture: all
Depends: libdbd-sqlite3-perl,
         libdbi-perl,
         libnifty-config-perl,
         libyaml-libyaml-perl,
         perl,
         perl-modules,
         ${misc:Depends}
